@tailwind base;
@tailwind utilities;
 
* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
}

.filter-applied-circle {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f00;
}
